/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 768px) {
  .course-who-step {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    max-width: 139px;
    margin: 0 auto 8px;
  }
  header .link {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .btn {
    text-transform: none;
  }
  .d-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-pc {
    display: none;
  }
  .prices h2 {
    margin: 0 auto 24px;
    font-family: "Gotham Pro", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 77px;
    line-height: 120%;
    margin: 56px auto;
  }
  h2 {
    font-size: 64px;
    margin: 0 auto 56px;
  }
  .subtitle {
    font-size: 24px;
  }
  .text-info {
    margin: 0 auto 32px;
    font-size: 24px;
  }
  .attention-info {
    margin: 16px auto 120px;
  }
  footer {
    padding: 60px 0 20px;
  }
  .link-developer {
    margin: 60px auto 0;
  }
  .h3 {
    font-size: 40px;
  }
  .list-social li:not(:last-child) {
    margin: 0 32px 0 0;
  }
  .list-social li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 88px;
    height: 88px;
    min-width: 88px;
  }
  .subscribe {
    padding: 16px 0 80px;
  }
  .subscribe .subtitle {
    margin: 0 auto 48px;
    font-size: 32px;
    max-width: 860px;
  }
  .subscribe::before, .subscribe::after {
    top: 28px;
    height: 411px;
    width: 732.761px;
  }
  .subscribe::before {
    left: -280px;
  }
  .subscribe::after {
    right: -280px;
  }
  h3 {
    font-size: 40px;
  }
  .callback {
    margin: 80px 0;
  }
  .callback .h3 {
    margin: 80px auto 0;
  }
  .callback-content {
    font-size: 24px;
    text-align: left;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .about {
    padding: 80px 0 80px;
  }
  .about .box-text {
    margin: 0 auto 14px;
    max-width: 940px;
  }
  .about h3 {
    margin: 64px auto 0;
    font-size: 40px;
  }
  .course-who .btn {
    margin: 32px auto 0;
  }
  .course-who-wrapper {
    padding: 90px 45px;
  }
  .course-who-step {
    margin: 0 0 32px;
  }
  .m-120 {
    margin: 120px 0;
  }
  .author h2 {
    text-align: left;
    font-size: 56px;
  }
  .author .box-text {
    margin: 24px 0 40px;
  }
  .author-position {
    font-size: 24px;
  }
  .link-toggle {
    font-size: 24px;
    margin: 0 auto 56px;
  }
  .link-toggle:after {
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
  .program-box {
    border-radius: 100px;
    padding: 40px 46px;
    margin: 0 0 80px;
  }
  .program-box:last-child {
    margin: 0;
  }
  .program-box h3 {
    font-size: 40px;
  }
  .program-box__head {
    margin: 0 0 40px;
  }
  .program-box__footer {
    margin: 40px 0 0;
  }
  .program-box__footer h4 {
    font-size: 24px;
  }
  .list-stage li {
    padding: 0 0 30px 37px;
  }
  .list-stage li::before {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }
  .list-stage__name, .list-stage__number {
    font-size: 24px;
  }
  .stages-registation {
    padding: 120px 0 80px;
  }
  .stages-registation h2 {
    font-size: 56px;
    margin: 0 auto 64px;
  }
  .stages-registation-box {
    margin: 0 30px 64px 0;
    line-height: 120%;
  }
  .stages-registation-box:last-child {
    margin: 0 0 64px;
  }
  .stages-registation-box__body {
    max-width: 370px;
  }
  .stages-registation-box__icon {
    max-width: 80px;
    height: 80px;
    margin: 0 auto 28px;
  }
  .stages-registation-box h3 {
    margin: 0 auto 15px;
    font-size: 32px;
    font-weight: bold;
  }
  .stages-registation-box .box-text {
    font-size: 16px;
  }
  .stages-registation-box:first-child .box-text {
    margin: 0 auto;
    max-width: 280px;
  }
  .prices h2 {
    margin: 0 auto 56px;
    font-size: 56px;
  }
  .prices-box {
    width: calc(33.33% - 15px);
    padding: 48px 20px;
  }
  .prices-box__description {
    font-size: 24px;
    margin: 24px auto 0;
    max-width: 330px;
  }
  .prices-box__price {
    margin: 90px auto 0;
  }
  .prices-box__info {
    margin: 16px auto 40px;
  }
  .prices-box h3 {
    min-height: 96px;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 92px;
    margin: 44px auto;
  }
  h2 {
    font-size: 80px;
    margin: 0 auto 64px;
  }
  h3 {
    font-size: 56px;
  }
  .home-description {
    font-size: 24px;
    margin: 0 auto 64px;
  }
  .h3 {
    font-size: 56px;
  }
  .subscribe {
    padding: 150px 0 120px;
  }
  .subscribe::before, .subscribe::after {
    height: 654px;
    width: 1166px;
    top: 22px;
  }
  .subscribe::before {
    left: -310px;
  }
  .subscribe::after {
    right: -310px;
  }
  .callback {
    margin: 120px 0 0;
  }
  .callback .h3 {
    margin: 120px auto 0;
  }
  .callback-content {
    font-size: 40px;
  }
  .about {
    padding: 120px 0 80px;
  }
  .about .box-text {
    margin: 0 auto 32px;
  }
  .course-who .btn {
    margin: 21px auto 0;
  }
  .author h2 {
    font-size: 64px;
  }
  .author .box-text {
    margin: 66px 0 84px;
  }
  .program-box {
    padding: 40px 100px;
  }
  .program-box__footer {
    margin: 56px 0 0;
  }
  .stages-registation {
    padding: 120px 0 154px;
  }
  .stages-registation h2 {
    margin: 0 auto 80px;
  }
  .prices h2 {
    margin: 0 auto 64px;
    font-size: 40px;
  }
  .prices-box__info {
    margin: 8px auto 56px;
  }
  .course-who-step__number {
    font-size: 111px;
  }
}