/*==========	Desktop First	==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)

@media only screen and (max-width: 992px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 576px)
	.logo
		max-width: 139px
		margin: 0 auto 8px

	header
		.link
			width: 50%
			order: 1

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)

@media only screen and (min-width: 768px)
	h1
		font-size: 77px
		line-height: 120%
		margin: 56px auto

	h2
		font-size: 64px
		margin: 0 auto 56px

	.subtitle
		font-size: 24px

	.text-info
		margin: 0 auto 32px
		font-size: 24px

	.attention-info
		margin: 16px auto 120px

	footer
		padding: 60px 0 20px

	.link-developer
		margin: 60px auto 0

	.h3
		font-size: 40px

	.list-social
		li
			&:not(:last-child)
				margin: 0 32px 0 0
			a
				display: flex
				align-items: center
				justify-content: center
				width: 88px
				height: 88px
				min-width: 88px

	.subscribe
		padding: 16px 0 80px
		.subtitle
			margin: 0 auto 48px
			font-size: 32px
			max-width: 860px
		&::before, &::after
			top: 28px
			height: 411px
			width: 732.761px
		&::before
			left: -280px
		&::after
			right: -280px

	.callback
		margin: 80px 0
		.h3
			margin: 80px auto 0		

	.callback-content	
		font-size: 24px
		text-align: left	
		margin: 0
		width: fit-content

	h3
		font-size: 40px	

@media only screen and (min-width: 1024px)
	h1
		font-size: 92px
		margin: 44px auto

	h2
		font-size: 80px
		margin: 0 auto 64px

	h3
		font-size: 56px	

	.home-description
		font-size: 24px
		margin: 0 auto 64px

	.h3
		font-size: 56px

	.subscribe
		padding: 150px 0 120px
		&::before, &::after
			height: 654px
			width: 1166px
			top: 22px
		&::before
			left: -310px
		&::after
			right: -310px

	.callback
		margin: 120px 0 0
		.h3
			margin: 120px auto 0

	.callback-content
		font-size: 40px		
